{% extends 'base.html' %}
{% block content %}
<!--<div class="conatiner">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--&lt;!&ndash;            <form method="post" class="p-3 shadow">&ndash;&gt;-->
<!--&lt;!&ndash;    {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="name" class="form-control" placeholder="Name  the task">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="priority" class="form-control" placeholder="your priority">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" class="btn btn-primary">Submit</button>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <input type="submit">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}